<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<h3>Current Snippets</h3>
<%= @book.snippets %>


<% if current_user %>
<h1>New Snippet</h1>

<%= render :partial => 'snippets/form'  %>

<%= link_to 'Back', snippets_path %>
<% else %>
<br></br>
<%= "Please login or sign up to add snippet to this book"%>
<% end %>

<br></br>
<b><%= link_to 'Back to Book List', books_path %><b>
